---
import { TinaMarkdown } from 'tinacms/dist/rich-text'
import { client } from '../../tina/__generated__/client'
import Layout from "../layouts/Layout.astro";
const data = await client.queries.faq({ relativePath: 'faq.md' })
---

<Layout title="InkHouse - FAQ">
    <section class="section">
        <div class="content">
            <h1 class="title">FAQ</h1>
            <div>
                {data.data.faq.items.map(({question, answer}) => {
                    return (
                        <div>
                            <h2 class="paragraphTitle">{question}</h2>
                            <TinaMarkdown content={answer} />
                        </div>
                    )
                })}
            </div>
        </div>
        <img class="contentBg" src="/faq-bg.jpeg" />
    </section>
</Layout>