---
import { client } from '../../tina/__generated__/client'
import Layout from "../layouts/Layout.astro"

const data = await client.queries.homepage({ relativePath: 'homepage.md' })
---

<Layout title="InkHouse - Tetování Praha">
	<section class="intro">
		<div class="introBg"></div>
	</section>
	<section class="team">
		<h1 class="mainTitle">INK HOUSE</h1>
		<h2 class="sectionTitle">Náš tým</h2>
		<div class="tattooers">
		{data.data.homepage.tattooers.map((tattooer) => (
				<div class="tattooer">
					<a class="tattooerImageWrapper" href={`/taterky/${tattooer.name.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")}`}>
						<img class="tattooerImage" src={tattooer.photoIntro} alt={tattooer.name} />
					</a>
					<div class="tattooerInfo">
						<strong>{tattooer.name}</strong>
						<div class="tattooerButtons">
							{tattooer.instagram &&
								<a target="_blank" href={tattooer.instagram}>
									<svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 56.7 56.7"><path d="M28.2 16.7c-7 0-12.8 5.7-12.8 12.8s5.7 12.8 12.8 12.8S41 36.5 41 29.5s-5.8-12.8-12.8-12.8zm0 21c-4.5 0-8.2-3.7-8.2-8.2s3.7-8.2 8.2-8.2 8.2 3.7 8.2 8.2-3.7 8.2-8.2 8.2z"/><circle cx="41.5" cy="16.4" r="2.9"/><path d="M49 8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7 0-14.5 5.8-14.5 14.5v20.5c0 4.3 1.4 8 4.2 10.7 2.7 2.6 6.3 3.9 10.4 3.9h20.4c4.3 0 7.9-1.4 10.5-3.9 2.7-2.6 4.1-6.3 4.1-10.6V19.3c0-4.2-1.4-7.8-4-10.4zm-.4 31c0 3.1-1.1 5.6-2.9 7.3s-4.3 2.6-7.3 2.6H18c-3 0-5.5-.9-7.3-2.6C8.9 45.4 8 42.9 8 39.8V19.3c0-3 .9-5.5 2.7-7.3 1.7-1.7 4.3-2.6 7.3-2.6h20.6c3 0 5.5.9 7.3 2.7 1.7 1.8 2.7 4.3 2.7 7.2v20.6z"/></svg>
								</a>
							}
						</div>
					</div>
				</div>
		))}
		</div>
	</section>
</Layout>
<style>
	.intro {
		position: relative;
		height: 80vh;
		width: 100%;
		z-index: -1;
	}
	.introBg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/intro-bg.jpg') no-repeat center center;
		background-size: cover;
	}
	.team {
		padding: 60px 30px;
		background: white;
		text-align: center;
	}
	.mainTitle {
		margin-bottom: 60px;
		font-size: 48px;
		font-weight: 700;
	}
	.sectionTitle {
		margin-bottom: 40px;
		font-size: 30px;
	}
	.tattooers {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
	.tattooer {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 450px;
		overflow: hidden;

		&:hover {
			.tattooerInfo {
				background: #f1e0bd;
			}

			.tattooerImage {
				transform: scale(1.05);
			}
		}
	}

	.tattooerImage {
		display: block;
		flex: 1 1 auto;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform .25s;
		transform-origin: center center;
	}
	.tattooerInfo {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px;
		width: 100%;
		background: var(--secondary-color);
		font-size: 20px;
		transition: background .25s;
	}
	.tattooerImageWrapper {
		flex: 1 1 auto;
		overflow: hidden;
	}
	.tattooerButtons {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.tattooerSocial {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	.socialIcon {
		display: block;
		height: 30px;
		transition: fill .25s;

		&:hover {
			fill: var(--main-color);
		}
	}
	.detailButton {
		border-radius: 5px;
		border: 1px solid #000;
		padding: 0 15px;
		line-height: 36px;
		background: none;
		transition: background-color .25s, color .25s;
		cursor: pointer;
		color: #000;
		text-decoration: none;

		&:hover {
			background: #000;
			color: var(--tertiary-color);
		}
	}

	@media screen and (max-width: 1025px) {
		.tattooers {
			grid-template-columns: repeat(2, 1fr);
		}

		.tattooerSocialLink {
			display: inline-block;
			text-align: center;
		}
	}

	@media screen and (max-width: 560px) {
		.tattooers {
			grid-template-columns: 1fr;
		}
	}
</style>