---
import { client } from '../../tina/__generated__/client'
import { TinaMarkdown } from 'tinacms/dist/rich-text'
import Layout from "../layouts/Layout.astro";
const data = await client.queries.tattoo({ relativePath: 'tattoo.md' })
---

<Layout title="InkHouse - Tetování">
    <section class="section">
        <div class="content">
            <h1 class="title">Tetování</h1>
            {data.data.tattoo.steps.map(({step, description}) => {
                return (
                    <div>
                        <h2 class="paragraphTitle">{step}</h2>
                        <TinaMarkdown content={description} />
                    </div>
                )
            })}
        </div>
        <img class="contentBg" src="/tattoo-bg.jpeg" />
    </section>
</Layout>